@charset "UTF-8";
body {
  text-align: center;
}

h1 {
  color: #13c3ac;
}

.button-animation-list button.button {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background: #333;
  padding: 18px 30px;
  border-radius: 6px;
  transition: .3s;
}

.button-animation-list button#button1:hover {
  background: #13c3ac;
}

.button-animation-list button#button2:hover {
  opacity: 0.6;
}

.button-animation-list button#button3:hover {
  transform: scale(1.2);
}

.button-animation-list button#button4:hover {
  animation: pulsation .7s alternate infinite;
}

@keyframes pulsation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.1);
  }
}

.button-animation-list button#button5:hover {
  letter-spacing: 5px;
}

.button-animation-list button#button6 {
  position: relative;
  background-color: #333;
  border-radius: 4px;
  color: #fff;
  line-height: 22px;
  -webkit-transition: none;
  transition: none;
  box-shadow: 0 3px 0 #333;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.button-animation-list button#button6:hover {
  top: -4px;
  box-shadow: 0 7px 0 transparent;
}

.button-animation-list button#button6:active {
  top: 3px;
  box-shadow: none;
}

.button-animation-list button#button7 {
  cursor: pointer;
  text-transform: uppercase;
}

.button-animation-list button#button7:hover {
  animation: rotate 0.7s ease-in-out both;
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

.button-animation-list button#button8 {
  box-shadow: 0 5px black;
}

.button-animation-list button#button8hover {
  　box-shadow: none;
  　transform: translate(0, 5px);
}
